.Header {
   padding: 15px;
   display: flex;
   border-bottom: 1px solid #ddd;
}

.Header>img {
   margin: auto 8px;
   opacity: 0.4;
   cursor: pointer;
   transition: 0.4s all;
}

.Header>img:hover {
   opacity: 1;
}

.Header>input {
   width: 100%;
   border: none;
   outline: none;
   padding: 10px;
   font-size: 20px;
}

.Header>input::placeholder {
   font-size: 16px;
   opacity: 0.4;
   font-style: italic;
   letter-spacing: .4px;
}